<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	
	
		
	</style>
</head>
<body style="background-color: #1E2022; ">
<div class="container text-center" >

	<section class="Top js-top Top--hide-bg" data-background-desktop="" data-background-mobile="">
 
	
    <h2 class="Title Title--relative Top__title" style="color: #FCB823;font: 700 60px Roboto,helvetica,arial,sans-serif;
  font-size: 60px;

	text-align: center;
	text-transform: uppercase;">Página no encontrada</h2>



</section>
<div align = "center">
<img th:src="@{/img/404.jpg}"  width="250" height="250">
</div>
	</div>	    
</div>
</body>
</html>