<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="plantillas/base :: head">
<meta charset='utf-8'>
</head>
<body>
<nav th:replace="plantillas/base :: nav"></nav>
	
	<div class="container w-75 mt-5" style="margin-bottom: 40px;">
		<div class="col bg-white p-2 rounded">
		
			<h2 class="fw-bold text-center py5" style="margin-bottom: 2rem;" th:text="'Sala número '+${sala.numeroSala}"></h2>
			
			<div class="container" th:if="${sala.estado == 'ocupado'}" >
				<h3 class="fw-bold text-center py5" style="margin-bottom: 1rem;">Profesores y Clase realizandose. (ESTO SE VE CUANDO LA SALA ESTA OCUPADA)</h3>
				<ul class="list-group">
				  <li class="list-group-item list-group-item-warning" aria-current="true">Profesores en la Sala:</li>
				  <li class="list-group-item">DF</li>
				  <li class="list-group-item">II</li>
				  <li class="list-group-item">IM</li>
				  <li class="list-group-item">PP</li>
				</ul>
				
				<br>
				<br>
				
				<ul class="list-group">
				  <li class="list-group-item list-group-item-warning" aria-current="true">Clase que se esta realizando:</li>
				  <li class="list-group-item">ZUMBA</li>
				</ul>
				
				<br>
				
				<button class="btn btn-dark" type="submit">Desocupar</button>
				
			</div>
			
			<br>
			<br>
			
			<div class="container" th:if="${sala.estado == 'desocupado' && !hora.equals('15')}">
				<form class="row g-3 needs-validation" novalidate method="post" th:action="@{/salaSeleccionada/}+${sala.id}" th:object="${clase}" th:field="${sala.piso = piso}" action="#">
				
					<label><h3 class="fw-bold text-center py5" style="margin-bottom: 1rem;">Ingresar Profesores y Asignar Clase.</h3></label>
					
					<div class="col-md-3" >
						<label class="form-label">Profesor:</label>
					  	<select class="form-select" id="profesor" required>
					    	<option selected disabled value="">Seleccione...</option>
					    	<option> A</option>
					  	</select>
					  	<div class="valid-feedback">
		                             Correcto
		                         </div>
					  	<div class="invalid-feedback">
					    	Please select a valid state.
					  	</div>
					</div>
					<div class="col-md-3" >
						<label class="form-label">Ayudante N°1:</label>
					  	<select class="form-select" id="ayudante1" required>
					    	<option selected disabled value="">Seleccione...</option>
					    	<option> A</option>
					  	</select>
					  	<div class="valid-feedback">
		                             Correcto
		                         </div>
					  	<div class="invalid-feedback">
					    	Please select a valid state.
					  	</div>
					</div>
					<div class="col-md-3" >
						<label class="form-label">Ayudante N°2:</label>
					  	<select class="form-select" id="ayudante2" required>
					    	<option selected disabled value="">Seleccione...</option>
					    	<option> A</option>
					  	</select>
					  	<div class="valid-feedback">
		                             Correcto
		                         </div>
					  	<div class="invalid-feedback">
					    	Please select a valid state.
					  	</div>
					</div>
					<div class="col-md-3" >
						<label class="form-label">Ayudante N°3:</label>
					  	<select class="form-select" id="ayudante3" required>
					    	<option selected disabled value="">Seleccione...</option>
					    	<option> A</option>
					  	</select>
					  	<div class="valid-feedback">
		                             Correcto
		                         </div>
					  	<div class="invalid-feedback">
					    	Please select a valid state.
					  	</div>
					</div> 	
					
					<div class="col-md-4" >
						<label class="form-label">Clase:</label>
					  	<select class="form-select" id="clase" required>
					    	<option selected disabled value="">Seleccione...</option>
					    	<option> A</option>
					   		<option> B</option>
					   		<option> C</option>
					  	</select>
					  	<div class="valid-feedback">
		                             Correcto
		                         </div>
					  	<div class="invalid-feedback">
					    	Please select a valid state.
					  	</div>
					</div>
					
					<div class="col-12">
	                	<button class="btn btn-dark" type="submit">Ocupar</button>
	                </div>                               
				</form>
				
				<br>
				<br>
				
				 <!--  <form class="row g-3 needs-validation" novalidate method="post" th:action="@{/salaSeleccionada/}+${sala.id}" th:object="${clase}" th:field="${sala.piso = piso}" action="#"> -->
					
					<div class="col-md-4">
                        <label  class="form-label">Motivo Deshabilitar Sala:</label>
                        <input type="textarea" class="form-control" id="motivo" value="">
                        <div class="valid-feedback">
                            Correcto!
                        </div>
                        <div class="invalid-feedback">
                            Ingrese datos validos
                        </div>
                    </div>
					<br>
					<button class="btn btn-danger" type="submit">Deshabilitar</button>
					
				<!-- </form>-->
			</div>
			
			
			<div class="container text-center" th:if="${hora.equals('15')}">
				<h1>Hora del almuerzo 🍌,no podemos ocupar esta sala...😫</h1>
			</div>
			
       		<br>
			<br>
			
			<div class="container text-center" th:if="${sala.estado == 'deshabilitada'}">
				<h3 class="fw-bold text-center py5" style="margin-bottom: 1rem;">La Sala se encuenta Deshabilitada.</h3>
				<button class="btn btn-success " type="submit">Habilitar</button>
			</div>
			
       		
          	
                	
		</div>
	</div>

<script th:fragment = "script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>